*{
    margin:0;
    padding: 0;
}
:root {
    --blanco:#ffffff;
    --oscuro:#1d3557;
    --primary:#a8dadc;
    --second:#457b9d;
    --gris:#757575;
    --grisclaro:#DFE9F3;
    --warning:#e63946;
    --tip:#ffb703;
  
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}